# Files
__pycache__/
*.pyc
*.py[cod]
*.class
.DS_Store
.idea/
.log
.ipynb_checkpoints/

# Data paths
data/*
!data/neighbourhoods.csv
!data/sample/
!data/external/

# Model paths
models/*

# Configs
config/config.env
.mysqlconfig

# Notebooks
notebooks/develop/*

# Deliverables
deliverables/presentation.pptx

!.gitkeep